* {
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}

/* .img-size img {
    height: 569px;
    width: 140px;
} */


.First_Section {
    width: 100vw;
    height: 80vh;
    position: relative;
    background-image: url(donation13.jpg);
    background-size: cover;
}

.content {
    width: 100%;
    height: 100%;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 22px;
    

}
.Button-Design a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#FF416C,#FF4B2B);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}
.donate-today{
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
 
}
.money-sector{
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
    color:gray;
    
}
.Money-color{
    background-color: #e2ddda;
    border-radius: 10px;
    color: #FF416C;
    border: 2px solid #FF416C ;
   

}
.money-sector h2{
    padding: 5%;

}

input{
    border: none;
    border-bottom: 1px solid black;
    width: 500px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2%;
    padding: 1%;
}
.Others-ammount
{
    text-align: center;
}
.Box-Design{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 5%;
   
}
.Box1{
    background-color: #e0dbdd;
    padding: 50px;
    border-radius: 20px;
   
}
.Box2{
    background-color: #f1b2ad;
    margin: 5%;
    padding: 50px;
    border-radius: 20px;

}
.Box3{
    background-color: #abe4fa;
    padding: 50px;
    border-radius: 20px;
    
}
   
.Survive {
    width: 80vw;
    height: 50vh;
    position: relative;
    background-image: url(donation6.jpg);
    background-size: cover;
    margin-left: 10%;
    border-radius: 20%;
}

.Content_Sur {
    width: 100%;
    height: 100%;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 22px;
    

}
.button-design3 a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#FF416C,#FF4B2B);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Depend-Part2{
    display: flex;
    width: 50%;
    font-size: 20px;

}
.Depend-Img2 img{
    width: 200%;
    padding-right: 50%;
    margin-right: 20%;
    

}
.email-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 50%;
    background-color: #f1b2ad;
    margin-left: 25%;
    margin-top: 5%;
    
}
.form-box input{
    font-size: 18px;
    width:60%;
    border: none;
    color: black;
    padding: 5px ;

}
.form-box button{
    color: rgb(255, 244, 244);
    padding: 10px 15px;
    background-color: #FF416C;
    border: none;
    cursor: pointer;

}
span{
    color: #FF416C;
}
.Black-Bar{
    margin-top: 10%;
    padding-top: 5%;
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items:center ;
    font-family:sans-serif;
    
    
    
}


